**/*.rs.bk
*.pdb
.DS_Store
.cloudflare
.env
.idea/
.idea/
.netlify
.pnpm-debug.log
.svelte-kit
.test-tmp
.turbo
.vercel
.vercel_build_output
/documentation/types.js
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
Cargo.lock
debug/
dist
node_modules
package-lock.json
symlink-from
target/
test-results/
vite.config.js.timestamp-*
yarn.lock
