@tailwind base;
@tailwind components;
@tailwind utilities;

.press-start-2p-regular {
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
}

.noto-color-emoji-regular {
	font-family: "Noto Color Emoji", serif;
	font-weight: 400;
	font-style: normal;
}
